<a href="index.html"><img class="logoimg" src="images/logo.webp" alt="Candy Tables by Jade Logo"></a>
<h1 class="title">Candy Tables by Jade</h1>
<nav>
    <div class="dropdown" >
        <button class="dropbtn" onclick="this.classList.toggle('change')" aria-label="Hamburger Menu Button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>
        <div class="dropdown-content">
            <a href="index.html">
                <h2>Home</h2>
            </a>
            <a href="packages.html">
                <h2>Packages</h2>
            </a>
            <a href="gallery.html">
                <h2>Gallery</h2>
            </a>
            <a href="contactus.html">
                <h2>Contact Us</h2>
            </a>
        </div>
    </div>
</nav>