<a href="index.html"><img class="logoimg" src="/images/logo.jpg" alt="Candy Tables by Jade Logo"></a>
<nav>
    <ul class="navigation">
        <li><a class="ham" href="#">
                <div class="container" onclick="this.classList.toggle('change')">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </a>
        </li>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Custom Tables</a></li>
        <li><a href="#">About Us</a></li>
    </ul>
</nav>