<a href="index.html"><img class="logoimg" src="images/logo.jpg" alt="Candy Tables by Jade Logo"></a>
<nav>
    <!-- <ul class="navigation">
        <li><a class="ham" href="#">
                <div class="container" onclick="this.classList.toggle('change')">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </a>
        </li>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Custom Tables</a></li>
        <li><a href="#">About Us</a></li>
    </ul> -->
    <div class="dropdown" >
        <button class="dropbtn" onclick="this.classList.toggle('change')">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>
        <div class="dropdown-content">
            <a href="#">
                <h2>Home</h2>
            </a>

            <a href="#">
                <h2>Packages</h2>
            </a>

            <a href="#">
                <h2>About Us</h2>
            </a>
        </div>
    </div>
</nav>