@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Chewy&family=Chicle&family=Coiny&family=Gamja+Flower&family=Gorditas&family=Lemon&family=Mystery+Quest&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
:root {
    --darkerpink: #f3a8c6;
    --pinkred: #ffdfec;
    --clearpinkred: #ffdfeca6;
    --black: #000002;
    --white: #f2e6d8;

    --heading-font: chicle, serif;
    --paragraph-font: "roboto slab", sans-serif;

    --boxshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    background-color: var(--pinkred);
}
h1,h2,h3,h4 {
    font-family: var(--heading-font);
    font-weight: 100;
    margin: 0;
    text-align: center;
}
p {
    font-family: var(--paragraph-font);
    padding: 8px;
    text-align: center;
}
/* --------------------------------------header and logos------------------------------------- */
.logoimg,
.footerlogo img {
    max-width: 100px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: var(--boxshadow);
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.title {
    text-align: center;
}

hr {
    border-top: 3px solid var(--darkerpink);
    box-shadow: var(--boxshadow);
 }
/* --------------------------------------hamburger button & Navigation------------------------------------- */

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--black);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 50px;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    transition: 0.4s;
}

.change .bar2 {
    opacity: 0;
    transition: 0.4s;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    transition: 0.4s;
}


.dropbtn {
    background-color: var(--darkerpink);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow:var(--boxshadow);
}

.change {
    border-radius: 10px 10px 0 0;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    right: 0;
    background-color: var(--darkerpink);
    min-width: 100%;
    box-shadow:var(--boxshadow);
    z-index: 1;
    opacity: 0;
    transition: all .3s ease;
    
}

.dropdown-content a {
    color: var(--black);
    text-decoration: none;
    display: block;
}

.dropdown-content h2 {
    text-align: center;
    padding: 10px;
    border: var(--black) 1px solid;
    
}

.responsive {
    visibility: visible;
    transition: all .3s ease;
    opacity: 1;
}
/* --------------------------------------Hero banner------------------------------------- */
#hero-banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100vw;
    overflow: hidden;
}
#hero-banner img {
    grid-column: 1/5;
    grid-row: 1/5;
    box-shadow: var(--boxshadow);
}

#hero-banner a {
    background-color: var(--clearpinkred);
    color: var(--black);
    border: none;
    grid-row: 3/4;
    grid-column: 1/5;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

/* --------------------------------------Home message------------------------------------- */

.homeMessage {
    margin-top: 5px;

}