@media only screen and (min-width: 532px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    .dropdown-content {
      min-width: 30%;
    }
    nav {
      position: absolute;
      right: 20px;
    }
    #hero-banner {
      max-height: 600px;
      max-width: 500px;
      margin: 0 auto;
    }
    #hero-banner img {
      max-width: 500px;
    }
    main {
      margin: 0 auto;
    }
    .homeMessage {
      text-align: center;
      margin: 0 auto;
      padding: 0 5%;
    }
    .instagram {
      max-width: 540px;
      margin: 0 auto;
    }
}
